/* TODA A ESTRUTURA DO SITE */
body {
    background:  linear-gradient(306deg,rgba(213, 235, 235, 1) 22%, rgba(28, 237, 237, 1) 100%);
}

header {
    background:rgb(114, 113, 112) ;
    width: 100% ;
    height: 40 ; 
}

h1 {
    font-size: 32px ;
    text-align: center;
    background-color: chocolate;
}

h2 {
    font-size: 28px;
    text-align: center;
    background-color: chocolate;
}