/* Google Fonts */


/* Fontes Utilizadas */




/* Reset CSS = Padronizar os navegadores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: transparent;
}




/* TODA A ESTRUTURA DO SITE */
body {
    background:  linear-gradient(306deg,rgb(227, 238, 238) 22%, rgb(117, 234, 255) 100%);
}

header {
    background:rgb(65, 65, 65) ;
    width: 100% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-desktop {
    display: none; 
    justify-content: center;
    align-items: center;
}

/* Menu UL */

.menu {
    display: flex;
    list-style: none;
    gap: 16px;
}

h1 {
    font-size: 32px ;
    text-align: center;
    background-color: rgb(65, 65, 65);
}

h2 {
    font-size: 28px;
    text-align: center;
    background-color: rgb(65, 65, 65);
}

/* Responsivo */

/* A partir de telas grandes */

@media (min-width: 768px) {
    
    header {
    padding: 1rem 6rem ;
    }
    .menu-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}