/* Google Fonts */


/* Fontes Utilizadas */




/* Reset CSS = Padronizar os navegadores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: transparent;
}




/* TODA A ESTRUTURA DO SITE */
body {
    background:  linear-gradient(306deg,rgb(227, 238, 238) 22%, rgb(117, 234, 255) 100%);
}

header {
    background:rgb(65, 65, 65) ;
    width: 100% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-desktop {
    display: none;
}

h1 {
    font-size: 32px ;
    text-align: center;
    background-color: rgb(129, 126, 126);
}

h2 {
    font-size: 28px;
    text-align: center;
    background-color: chocolate;
}

/* Responsivo */

@media (min-width: 768px) {
    .menu-desktop {
        display: flex;
    }
}