/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Julius+Sans+One&family=Quicksand:wght@300..700&display=swap');

/* Variáveis de Fonts */
:root {
    --fonte-menu: "Italiana", sans-serif;
    --fonte-título: "Julius Sans One", sans-serif;
    --fonte-subtítulo: "Quicksand", sans-serif;
}

/* Variáveis de cores */
/* Tema dark */
:root, :root[data-theme='dark'] {

    --cor-fundo: #201e1e;
    --cor-fundo-secundaria: #1d1a1a;

    --cor-txt-menu: #8383838b;
    --cor-destaque: #e5e5e6;
    --icone-tema: #20447a;
    --cor-h1: #ffffff ;
    --cor-textos: #fcfeff;
    --destaque-icones: #1f428f;
    --cor-borda: #c9bebea2;
    
}



/* Tema Claro */
:root[data-theme='light'] {

    --cor-fundo: #ffffff;
    --cor-fundo-secundaria: #ffffff;

    --cor-txt-menu: #0e0606c7;
    --cor-destaque: #000000;
    --icone-tema: #e2dbdb;
    --cor-h1: #000000;
}

/*Filtro Cor Logo */
html[data-theme='dark'] .logo {
    filter: invert(1);
    /* para img preto */
}


/* Fontes Utilizadas */
/* Converter REM em PX */
html {
    font-size: 62.5%;
}




/* Reset CSS = Padronizar os navegadores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: transparent;
}




/* TODA A ESTRUTURA DO SITE */
body {
    background-color:  var(--cor-fundo-secundaria);
}

/* Cabeçalho */
header {
    background: var(--cor-fundo);
    width: 100%;  /* largura */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 200;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid var(--cor-borda)
}


.menu-desktop {
    display: none;
    justify-content: center;
    align-items: center;
}

/* Menu UL */

.menu {
    display: flex;
    list-style: none;
    gap: 16px;
}

/* A Href = menu = meu link*/
.menu-link {
    text-decoration: none;
}

.menu-link {
    color: rgb(255, 255, 255);
}

.menu-texto {
    color: var(--cor-txt-menu);

    text-transform: capitalize;
    font-size: 1.8rem; /* 18px */ 
    font-family: var(--fonte-menu);
    font-weight: 600;

    
}

.logo img {
    width: 25rem;
    height: 20rem;
    
}



h1 {
    font-size: 32px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(177, 177, 177);
    font-family: var(--fonte-menu);
}

h2 {
    font-size: 30px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(230, 230, 230);
    font-family: var(--fonte-título);
}

/* Herança */

.menu-link.active .menu-texto,
.menu-link:hover .menu-texto {
    color: var(--cor-destaque)  ;

}

.header-toggle {
    cursor: pointer;
    font-size: 1.8rem;
    color: var()
}


/* Hero = HOME */
h1 {
    color: var(--cor-h1);
    font-size: 8.0rem;
    font-family: var(--fonte-título);

    
}

 /* Tamanho do Texto */

strong {
    font-size: 2.5rem;
    font-family:var(--fonte-menu) ;
}

p {
    color: var(--cor-textos);
    font-size: 1.8rem;
    font-family: var(--f);
}

/* Redes sociais */
.menu-social { /* UL */
    display: flex;
    list-style: none;
    gap:1.2rem;
    padding: 0%;
}

.menu-social .social-icon {
    color: var(--cor-h1);
    color: #000;
    font-size: 2rem;
    background: #676b83;
    padding: 5px 10px;
    border-radius: 25%;
}

.menu-social .social-icon:hover {
    color: var(--destaque-icones);
    transition: 0.3s ease;
}

/* Carousel */

/* Estrutura dos 3 slides */

/* Altura do Hero em Tela Cheia */
.carousel .carousel-item {
    height: 100vh; /* ViewPort Hight */
    min-height: 400px;
}

/* tamanho das imagens */
.carousel .carousel-item img,
.carousel .carousel-item .ratio {
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* Bloquear açoes Click Direito Mouse */
    pointer-events: none;
    border-radius: 5rem 5rem 5rem 5rem;
}

/* Filtro ou Overlay escuro Sutil acima dos slides */

/* Pseudo-Elemento */
.carousel .carousel-item::before {
    content: "";
    background: #000000a4;
    position: absolute;
    inset: 0;
}

.carousel .carousel-caption {
    position: absolute;
    inset: 405px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel h5 {
    font-size: 5rem;
    font-weight: 800;
}

.carousel p {
    font-size: 2.2rem;
    color: #fff;
}

.carousel h5,
.carousel p {
    text-shadow: 0 2px 14px rgba(0, 0, 0, 0.725);
    
}

/* Centralizar Objeto */
.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video iframe {
    aspect-ratio: 16/9;
    width: 95%;
    box-shadow: 0 15px 15px -2px #fff;
}

.complemento {
    display: flex;
    background: var(--cor-fundo);
    padding: 6rem 1rem 2rem;
    margin-top: -5rem;
    justify-content: center;

}

.complemento h2 {
    font-size: 2rem;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 500;
    font-family: var(--fonte-padrao);
    color: var(--cor-titulo);
}


/* Seção Geral */
/* Vamos ir atualizando essa parte */


#home .pecas {
    padding: 4rem 2rem;
}

/* Peças */

.pecas {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* Voltar */
    scroll-margin-top: ;
}

.pecas h2 {
    text-align: center;
    font-size: 3rem;
    font-family: var(--fonte-menu);
    color: var(--cor-titulo);
    font-weight: 400;
    text-transform: uppercase;
}

.conjuntos {
     display: flex;
    flex-direction: column;
    gap: 2rem;
    /* Voltar */
    scroll-margin-top: ;
}

.conjuntos h2 {
    text-align: center;
    font-size: 3rem;
    font-family: var(--fonte-menu);
    color: var(--cor-titulo);
    font-weight: 400;
    text-transform: uppercase;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    /* Empurra o video */
    margin-bottom: 5rem;
}

/* Articles dos projetos */
.projeto-card {
    display: flex;
    flex-direction: column;
}

/* Classes das IMGs */
.card-cover {
    width: 100%;
    object-fit: cover;
    border-radius: 5rem 50rem 15rem 5rem;

}







/* Responsivo */

/* Largura ate */
@media (max-width: 768px) {
    .carousel .carousel-inner {
        margin-top: -2rem;
    }

    #home {
        padding-top: 6rem;
    }

}



/* A partir de Telas Grandes */
@media (min-width:768px) {

    header {
        padding: 1rem 10rem;
        justify-content: flex-start;
        gap: 2rem;
    }

    .menu-desktop {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .logo {
        margin-right: auto;
    }

    .carousel .carousel-inner {
        margin-top: -4.2rem;
        padding-top: 7rem;
    }

    /* Voltar Aqui */
    #home {
        padding: 4rem 10rem;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        font-size: 5rem;
    }

}

/* Telas maiores que 1200 */
@media (min-width: 1200px) {

  .projetos h2 {
    font-size: 4rem;
  }

}

/* Telas maiores que 1400px */
@media (min-width: 1400px) {
    h1 {
        font-size: 6.5rem;
    }

    /* Voltar aqui */
    .complemento,
    .pecas {
        padding: 5rem 7rem 4rem;
        margin-top: -7rem;
        color: #cdcfcf;
    }

    .complemento h2 {
        font-size: 4.5rem;
    }
}